.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading div{
    background-color: rgba(46, 39, 39, 0.274);
    height: 1px;
    width: 30vw;
}
.heading p{
    margin: 3vmax;
    color: rgb(77,77,77);
    font-size: 2.5vmax;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
