.HotAccessoriesMenu{
    display: flex;
    justify-content: center;
}
.HotAccessoriesLink{
    text-decoration: none;
    color: rbg(94,94,94);
    margin: 1vmax;
    padding: .5vmax 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.HotAccessoriesLink:hover{
text-decoration: none;
color: orangered;
border-bottom: 1px solid orangered;
}